<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz Server 1.0</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <div class="right">
      <% if(!session.user){ %>
        <span><a href="/login">Login</a></span>
      <% }else{ %>
        <span><%= session.user.username %><a href="/logout">Logout</a></span>
      <% } %>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="/">Main</a></li>
      <li><a href="/author">Créditos</a></li>
      <li><a href="/quizes">Lista de quizes</a></li>
      <li><a href="/quizes/statistics">Estadísticas</a></li>
    </ul>
  </nav>

  <section>
  <%- body %>
  </section>
  <section>
    <strong class="errors">
      <% if(errors.length > 0){ %>
      <ul>
      <%  for (var e in errors) { %>
        <li><%= errors[e].message %></li>
        <% } %>
      </ul>
      <% } %>
    </strong>
  </section>

  <footer>
    <a href="https://github.com/sandboxwebs/quiz" target="_blank">Fork me in GitHub</a>
  </footer>

  </body>
</html>
