body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E6E6E6;
}

nav {
  border-bottom: 1px solid green;
  margin-bottom: 50px;
}
nav li {
  display: inline;
}

footer {
  margin-top: 50px;
  border-top: 1px solid black;
}

a {
  color: #00B7FF;
}

.errors{
  color:red;
}

.right{
  text-align: right;
}
