<h1><%= question %></h1>
<form enctype="application/x-www-form-urlencoded" method="get" action="/quizes/answer">
  <input type="text" name="response" placeholder="Escriba su respuesta ..">
  <input type="hidden" name="key" value="<%= key %>">
  <button type="submit">Contestar</button>
</form>
