<h1><%= pregunta %></h1>
<form enctype="application/x-www-form-urlencoded" method="get" action="/quizes/<%= id %>/answer">
  <input type="text" name="response" placeholder="Escriba su respuesta ..">
  <button type="submit">Contestar</button>
</form>
